#include "baby_split.dtsi"

/ {
    chosen {
        zmk,split-role = "left";
    };
};

&default_kscan {

    /* ROWS (5) */
    row-gpios = <&gpio1 15 GPIO_ACTIVE_HIGH>,  /* R0 */
                <&gpio1 13 GPIO_ACTIVE_HIGH>,  /* R1 */
                <&gpio1 11 GPIO_ACTIVE_HIGH>,  /* R2 */
                <&gpio1 10 GPIO_ACTIVE_HIGH>,  /* R3 */
                <&gpio0 9  GPIO_ACTIVE_HIGH;  /* R4 */

    /* COLUMNS (7) — LEFT HALF ONLY */
    col-gpios = <&gpio0 11 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN),  /* C0 */
                <&gpio1 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* C1 */
                <&gpio0 24 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* C2 */
                <&gpio0 22 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* C3 */
                <&gpio0 20 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* C4 */
                <&gpio0 17 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>,  /* C5 */
                <&gpio1 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;  /* C6 */
};
