if SHIELD_BABY_SPLIT_LEFT
 config BABY_SPLIT
    string "Baby Split"

config ZMK_SPLIT_ROLE_CENTRAL
    bool y

endif 

if SHIELD_BABY_SPLIT_LEFT || SHIELD_BABY_SPLIT_RIGHT 
    config ZMK_SPLIT 
        bool y 
endif
